{% extends 'base.html.twig' %}

{% block title %}Payments{% endblock %}

{% block body %}
    <h1  class="text-center">Payments</h1>

    <div class="divider2b">
        {{include('Composants/navAdmin.html.twig')}}
        <table id="adminPaymentIndex" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Purchase</th>
                    <th>CreateAt</th>
                    <th>StripeSessionId</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.id }}</td>
                    <td>{{ payment.purchase }}</td>
                    <td>{{ payment.createAt ? payment.createAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ payment.stripeSessionId }}</td>
                    <td>
                        <a href="{{ path('admin_payment_show', {'id': payment.id}) }}"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
