{% extends 'base.html.twig' %}

{% block title %}A piece of code{% endblock %}

{% block body %}
<h1 class="text-center p-4">The missing piece of your web project!</h1>

<!--Liens vers catalog et les poc du profil-->
<nav id="homeNav2">
    <ul>
        <li id="find" class="p-4">
            <a href={{path("catalog_index")}}>
                <h2 class="text-center">Find</h2>
                <img  src="{{asset('media/logoFind.svg')}}" alt="find"/>
            </a>
        </li>
        <li id="share" class="p-4">
            <a href={{path("profil_myPoc")}}>
                <h2 class="text-center">Share</h2>
                <img src="{{asset("/media/logoShare.svg")}}" alt="share"/>
            </a>
        </li>
    </ul>
</nav>

<h2 class="text-center">Famous pieces of code</h2>

<!--Affichage des cartes POCs-->
<section class="grid3">
    {% for poc in pocs %}
        {{include("Composants/card.html.twig")}}
    {% else %}
        <p>No records found</p>
    {% endfor %}
</section>
{% endblock %}
