{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1 class="t-center">How to</h1>

<video controls width=100%>
    <source src={{asset("media/intro.mp4")}} type="video/mp4">
    Sorry, your browser doesn't support embedded videos.
</video>

<h2 class="t-center">Free POC (piece of code)</h2>

<form method="get" action="{{ path('catalog_search') }}">
    <input type="text" placeholder="Search by keywords" name="keyword"/>
    <button type="submit"><i class="fas fa-search"></i></button>
</form>
<br>

<br><br>

<section>
{% for poc in pocs %}
    <article class="card">
        <div class="card-body">
            <p class="t-right"><i class="fas fa-heart" onclick="toggleThis(this, 'switchOn')"></i></p>
            <img src="{{ asset('uploads/' ~ poc.imageFilename ) }}" alt="">
            <p>Name : {{ poc.name }}<br>
            Author : {{ poc.Author }} <br>
            {% if poc.isPremium %}
            Price : {{ poc.price }} <br>
            <a href="{{ path('cart_add', {'id': poc.id}) }}"><button class="btn btn-success">Add to cart</button></a><br>
            {% endif %}
            <a href="{{ path('catalog_show', {'id': poc.id}) }}">Details</a></p><br>

            {% if poc.isPremium == false %}
            <a href="{{ poc.githubLink }}" target="_blank"><button class="btn btn-success"><i class="fab fa-github"></i> Github Link</button></a>
            {% endif %}
            <a href="{{ poc.liveDemoLink }}" target="_blank"><button class="btn btn-primary"></i>Live demo</button></a>
            
        </div>
    </article>
{% else %}
    <p>No records found</p>
{% endfor %}
</section>
{% endblock %}
