{% extends 'base.html.twig' %}

{% block title %}A piece of code{% endblock %}

{% block body %}
<h1 class="text-center p-4">The missing piece of your web project!</h1>

<nav id="homeNav">
    <ul>
        <li class="p-4 m-4">
            <a href={{path("catalog_index")}}>
                <h2 class="text-center">Find</h2>
                <img  src="{{asset('media/puzzle.png')}}"/>
            </a>
        </li>
        <li class="p-4 m-4">
            <a href={{path("profil_myPoc")}}>
                <h2 class="text-center">Share</h2>
                <img src="{{asset("/media/puzzle.svg")}}"/>
            </a>
        </li>
    </ul>
</nav>

<h2 class="text-center text-light">Famous pieces of code</h2>

<section class="grid3">
{% for poc in pocs %}
    {{include("Composants/card.html.twig")}}
{% else %}
    <p>No records found</p>
{% endfor %}
</section>
{% endblock %}
