{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1 class="text-center">Categories</h1>

    <div class="divider2b">
        {{include('Composants/navAdmin.html.twig')}}
        <!--Affichage table category-->
        <table id="adminCategoryIndex" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ path('admin_category_edit', {'id': category.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <p class="text-center">Please check if the category is already use in <a href="{{ path('admin_poc_index')}}">POC</a> before update or delete.</p>
    <div class="text-center"><a href="{{ path('admin_category_new') }}"><button class="btn btn-success">Create new</button></a></div>
    <br>
{% endblock %}
