{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.image) }}
    <i>Image must be under 2MiB</i><br/><br/>
    {{ form_row(form.githubLink) }}
    {{ form_row(form.liveDemoLink) }}
    {{ form_row(form.keywords) }}
    <i>Keywords will help developer to find your code.</i><br/><br/>
    {{ form_label(form.languages) }}<br/>
    {{ form_widget(form.languages) }}<br/>
    {{ form_label(form.categories) }}<br/>
    {{ form_widget(form.categories) }}<br/>
    {{ form_row(form.isPremium) }}
    <i>Check this box will hide your githubLink.</i><br/><br/>
    {{ form_row(form.price) }}
    <i>If free set the price to zero.</i><br/><br/>
    <button class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i> {{ button_label|default('Save') }}</button>
{{ form_end(form) }}
