{% extends 'base.html.twig' %}

{% block title %}Poc{% endblock %}

{% block body %}
    
    <div class="card box3 grey mt-5 mb-5">
        <h1 class="text-center">{{ poc.name }}</h1>

        {{include('Composants/card.html.twig')}}

        <div class="divider3 p-3">
            <a href="{{ path('profil_myPoc_edit', {'id': poc.id}) }}"><button class="btn btn-success"><i class="fas fa-edit"></i> Edit</button></a>

            {{ include('profil/_delete_form.html.twig') }}
        </div>
        <div class="text-center pb-3"><a href="{{ path('profil_myPoc') }}"><button class="btn btn-primary">Back to my POC</button></a></div>
        
    </div>


{% endblock %}
