{% extends 'base.html.twig' %}

{% block title %}My POC{% endblock %}

{% block body %}
    <h1 class="text-center">My POC</h1>

    <table class="table text-light">
        <thead>
            <tr class="text-center">
                <th>Name</th>
                <th>Image</th>
                <th>Keywords</th>
                <th>Premium (1=yes)</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poc in pocs %}
            <tr class="text-center">
                <td>{{ poc.name }}</td>
                <td>
                    <img id="myPocImage"src= "{{ asset('uploads/' ~ poc.imageFilename ) }}"/>
                </td>
                <td>{{ poc.keywords }}</td>
                <td>{{ poc.isPremium }}</td>
                <td>{{ poc.price }}</td>
                <td>
                    <a href="{{path('profil_myPoc_show', {'id': poc.id}) }}"><i class="fas fa-eye text-light"></i></a>
                    <a href="{{ path('profil_myPoc_edit', {'id': poc.id}) }}"><i class="fas fa-edit text-light"></i></a>
                </td>
            </tr> 
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center p-4"><a href={{path("profil_addPoc")}}><button class="btn btn-success pr-5 pl-5">Create new</button></a></div>

{% endblock %}
