{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <!--Affichage de l'utilisateur-->
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <!--Lien vers édition du profil-->
    <a href="{{ path('profil_edit') }}">
        <button class="btn btn-success">edit</button>
    </a>
    
    <!--Lien vers page contact-->
    <p>Please <a href="{{ path('contact') }}">contact</a> admin if you want to delete your account</p>

{% endblock %}
