{% extends 'base.html.twig' %}

{% block title %}Language index{% endblock %}

{% block body %}
    <h1  class="text-center">Languages</h1>

    <div class="divider2b">
        {{include('Composants/navAdmin.html.twig')}}
        <!--Affichage table language-->
        <table id="adminLanguageIndex" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for language in languages %}
                <tr>
                    <td>{{ language.id }}</td>
                    <td>{{ language.name }}</td>
                    <td>
                        <a href="{{ path('admin_language_edit', {'id': language.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="text-center">Please check if the language is already use in <a href="{{ path('admin_poc_index')}}">POC</a> before update or delete.</p>
    <div class="text-center"><a href="{{ path('admin_language_new') }}"><button class="btn btn-success">Add a language</button></a></div>
    <br>
{% endblock %}
