{% extends 'base.html.twig' %}

{% block title %}Language index{% endblock %}

{% block body %}
    <h1>Language index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actionss</th>
            </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <td>{{ language.id }}</td>
                <td>{{ language.name }}</td>
                <td>
                    <a href="{{ path('admin_language_show', {'id': language.id}) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('admin_language_edit', {'id': language.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>Please check if the language is already use in <a href="{{ path('admin_poc_index')}}">POC</a> before update or delete.</p>

    <a href="{{ path('admin_language_new') }}"><button class="btn btn-success">Create new</button></a>
{% endblock %}
