{% extends 'base.html.twig' %}

{% block title %}Poc index{% endblock %}

{% block body %}
    <h1  class="text-center">POCs</h1>
    <div class="divider2b">
        {{include('Composants/navAdmin.html.twig')}}
        <!--Affichage table Poc-->
        <table  id="adminPocIndex" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>ImageFilename</th>
                    <th>GithubLink</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for poc in pocs %}
                <tr>
                    <td>{{ poc.id }}</td>
                    <td>{{ poc.name }}</td>
                    <td>
                        <img src= "{{ asset('uploads/' ~ poc.imageFilename ) }}" alt="{{ poc.name }}"/>
                    </td>
                    <td>{{ poc.githubLink }}</td>
                    <td>{{ poc.Author }}</td>
                    <td>
                        <a href="{{ path('admin_poc_show', {'id': poc.id}) }}"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('admin_poc_edit', {'id': poc.id}) }}"><i class="fas fa-edit"></i></a>
                        {{ include('admin/admin_poc/_delete_form.html.twig') }}

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
