<nav id="navprofil" class="lightSubNav displayNone">

    <ul class="text-center p-2">
        {% if app.user %}
            <li><p> Hi {{app.user.pseudo }} ! 😊</p></li>
        {% endif %}
        {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') == false %}
            <li><a href={{ path('profil_show') }}><p>My profil</p></a></li>
            <li><a href={{ path('profil_myPoc') }}><p>My POC</p></a></li>
            <li><a href={{ path('app_logout') }}><p>Log out</p></a></li>
        {% elseif is_granted('ROLE_ADMIN') %}
            <li><a href={{path("admin_poc_index")}}><p>POC</p></a></li>
            <li><a href={{path("admin_user_index")}}><p>User</p></a></li>
            <li><a href={{path("admin_language_index")}}><p>Language</p></a></li>
            <li><a href={{path("admin_category_index")}}><p>Category</p></a></li>
            <li><a href={{path("admin_purchase_index")}}><p>Purchase</p></a></li>
            <li><a href={{path("admin_payment_index")}}><p>Payment</p></a></li>
            <hr>
            <li><a href={{ path('app_logout') }}><p>Log out</p></a></li>
        {% else %}
            <li><a href={{path("app_login")}}><p>Login</p></a></li>
            <li><a href={{path("app_register")}}><p>Register</p></a></li>
        {% endif %}
        <li><p onclick="darkMode()"><i class="fas fa-moon"></i> Dark Mode</p></li>
    </ul>
</nav>