<!--Carte POC-->
<article id="POCcard" class="card mx-2 my-2">
    <!--Catégorie flotante-->
    <div class="floatingCategory">
        <!--Parcours les catégorie-->
        {% for category in poc.categories %}
            {% if category == "E-commerce" %}
                <div class="categoryCircle bg-success text-light">{{category.name}}</div>
            {% elseif category == "Social Network"%}
                <div class="categoryCircle bg-primary text-light">{{category.name}}</div>
            {% elseif category == "Landing Page"%}
                <div class="categoryCircle bg-light text-light">{{category.name}}</div>
            {% elseif category == "Blog"%}
                <div class="categoryCircle bg-danger text-light">{{category.name}}</div>
            {% endif %}
        {% endfor %}
    </div>
    <!--Image-->
    <img src="{{ asset('uploads/' ~ poc.imageFilename ) }}" alt="{{ poc.name }}">
    <!--Contenu de la carte-->
    <div class="card-body">
        <!--Partie haute-->
        <div class="gridCard">
            <!--Nom et auteur du POC-->
            <div>
                <b>{{ poc.name }}</b><br/>
                by {{ poc.Author.pseudo }}
            </div>
            <!--Parcours les langages-->
            <div class="flex">
                {% for language in poc.languages %}
                    {% if language.name == "JS" %}
                        <button class="btn btn-warning mr-1">{{language.name}}</button>
                    {% else %}
                        <button class="btn btn-primary mr-1">{{language.name}}</button>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br/>

        <!--Description du POC-->
        <b>Description</b>
        <p>{{ poc.keywords }}</p>

        <div class="text-right">

            <!--Prix-->
            <div>
                {% if poc.isPremium>0 %}
                    {{ poc.price }} €
                {% else %}
                    Free
                {% endif %}
            </div>

            <!--Boutons-->
            <div>
                <!--Réservé au POC payant-->
                {% if poc.isPremium %}
                    <!--Lien vers ajout au pannier-->
                    <a href="{{ path('cart_add', {'id': poc.id}) }}">
                        <button class="btn btn-warning mt-2"><i class="fas fa-shopping-cart"></i></button>
                    </a>
                {% endif %}
                <!--Réservé au POC gratuit-->
                {% if poc.isPremium == false %}
                    <!--Lien vers github-->
                    <a href="{{ poc.githubLink }}" target="_blank">
                        <button class="btn btn-warning mt-2"><i class="fas fa-file-download"></i></button>
                    </a>
                {% endif %}
                <!--Lien vers demo du POC-->
                <a href="{{ poc.liveDemoLink }}" target="_blank">
                    <button class="btn btn-info mt-2"><i class="fas fa-eye"></i> Live demo</button>
                </a>
            </div>
        </div>        
    </div>
</article>