<nav>
    <ul>
        <hr>
        <li><a href={{ path('admin_user_index') }} class="text-light">Users</a></li>
        <hr>
        <li><a href={{ path('admin_poc_index') }} class="text-light">POCs</a></li>
        <hr>
        <li><a href={{ path('admin_language_index') }} class="text-light">Languages</a></li>
        <hr>
        <li><a href={{ path('admin_category_index') }} class="text-light">Categories</a></li>
        <hr>
        <li><a href={{ path('admin_purchase_index') }} class="text-light">Purchases</a></li>
        <hr>
        <li><a href={{ path('admin_payment_index') }} class="text-light">Payments</a></li>
    </ul>
</nav>