{% extends 'base.html.twig' %}

{% block title %}Catalog{% endblock %}

{% block body %}
    <h1>Catalog</h1>

    {% for poc in pocs %}
        <article class="card">
            <div class="card-body">
                <p class="t-right"><i class="fas fa-heart"></i></p>
                <img src="{{ asset('uploads/' ~ poc.imageFilename ) }}" alt="">
                <p>Name : {{ poc.name }}<br>
                Keywords : {{ poc.keywords }} <br>
                <strong>Langages</strong> : <br>
                Categories : <br>
                Premium : {{ poc.isPremium ? 'Yes' : 'No' }} <br>
                Price : {{ poc.price }} <br>
                <a href="{{ path('catalog_show', {'id': poc.id}) }}">Details</a><br>
                <a href="{{ path('cart_add', {'id': poc.id}) }}">Add to cart</a></p><br>
                
                <a href="{{ poc.githubLink }}" target="_blank"><button class="btn btn-success"><i class="fab fa-github"></i> Github Link</button></a>
                <a href="{{ poc.liveDemoLink }}" target="_blank"><button class="btn btn-primary"></i>Live demo</button></a>
                
            </div>
        </article>
    {% else %}
        <p>No records found</p>
    {% endfor %}


{% endblock %}
