{% extends 'base.html.twig' %}

{% block title %}POC Catalog{% endblock %}

{% block body %}
    <h1 class="t-center">POC catalog</h1>

    <form class="gridSearch m1" method="get" action="{{ path('catalog_search') }}">
        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
        <input class="borderNone" type="text" placeholder="Search by keywords" name="keyword"/>
    </form>

    <br>

    <a href="{{ path('catalog_index') }}"><button class="btn btn-success" ><i class="fas fa-book-open"></i> See all POC</button></a>

    <section id="pocList">
    {% for poc in pocs %}
        <article class="card m1">
            <div class="card-body">
                <!--<p class="t-right"><i class="fas fa-heart" onclick="toggleThis(this, 'switchOn')"></i></p>-->
                <img src="{{ asset('uploads/' ~ poc.imageFilename ) }}" alt="">
                <p>Name : {{ poc.name }}<br>
                Author : {{ poc.Author }} <br>

                {% if poc.isPremium %}
                Price : {{ poc.price }} € <br>
                {% endif %}
                <a href="{{ path('catalog_show', {'id': poc.id}) }}">Details</a></p><br>

                {% if poc.isPremium %}
                <a href="{{ path('cart_add', {'id': poc.id}) }}"><button class="btn btn-success"><i class="fas fa-shopping-cart"></i> Add to cart</button></a>
                {% endif %}
                {% if poc.isPremium == false %}
                <a href="{{ poc.githubLink }}" target="_blank"><button class="btn btn-success"><i class="fab fa-github"></i> Github Link</button></a>
                {% endif %}
                <a href="{{ poc.liveDemoLink }}" target="_blank"><button class="btn btn-primary"><i class="fas fa-eye"></i> Live demo</button></a>
    
            </div>
        </article>
    {% else %}
        <p>No records found</p>
    {% endfor %}
    </section>


{% endblock %}
